{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        clusters
      </div>
      <h2 class="page-title">
        View Clusters
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.generate_token_for_cluster")}}" class="btn bg-cyan-lt">
            Generate Token
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-12">
        <div class="alert alert-warning text-white bg-transparent" role="alert">
          <small>You need to install the admission webhook inside your Kubernetes cluster for the cluster to appear below. Get started by generating a auth token</small>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Clusters</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead class="bg-white-lt">
                  <tr>
                    <th class="text-white">Label</th>
                    <th class="text-white">Rules</th>
                    <th class="text-white">Events</th>
                    <th class="text-white">Alerts</th>
                    <th class="w-1 text-white">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cluster in clusters %}
                  <tr>
                    <td class="subheader text-white">{{cluster.label}}</td>
                    <td class="subheader"><span class="badge bg-white text-dark badge-sm">{{cluster.get_rules()|length}}</span></td>
                    <td class="subheader"><span class="badge bg-white text-dark badge-sm">{{cluster.events.count()}}</span></td>
                    <td class="subheader"><span class="badge bg-white text-dark badge-sm">{{cluster.get_alerts()|length}}</span></td>
                    <td class="text-center"><a href="{{url_for("main.view_cluster",id=cluster.id)}}"><i class="ti ti-edit text-yellow"></i></a></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
    $('#example').DataTable({"pageLength":25,"order": [[ 0, "desc" ]]});
  } );
</script>
{% endblock %}
