{% extends "layouts/condensed.html" %}
{%block head%}
  <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.11/dist/g6.min.js"></script>
  <style>
#graph-container {
  height: 90vh;
  overflow: hidden;
  background: repeating-linear-gradient( 45deg, #eee, #eee 10px, #e5e5e5 10px, #e5e5e5 20px);
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  background-image: url("/static/img/tile.png");
  background-repeat: repeat;
  background-size: 30px 30px;
}
.offcanvas-end {
  width: 50%
}
.offcanvas-start {
  width: 50%
}
  </style>
{%endblock%}
{%block header%}{%endblock%}
{%block contentHeader%}{%endblock%}

{% block container %}
  <div class="container-fluid g-0">

    <div class="row mr-4 ml-4 border-bottom">
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        home
      </div>
      <h2 class="page-title">
        Cluster Graph - <span class="badge badge-outline text-blue ml-2">{{cluster.label}}</span>
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline"> 
          <a class="btn bg-cyan-lt" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
           Filter
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="row g-0">
      <div id="graph-container" class="col-12 border-dark">
      </div>
    </div>
  </div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel" style="visibility: visible;" aria-modal="true" role="dialog">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasEndLabel">End offcanvas</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div id="end-body">
                </div>
                <div class="mt-3">
                  <button class="btn" type="button" data-bs-dismiss="offcanvas">
                    Close offcanvas
                  </button>
                </div>
              </div>
            </div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel" style="visibility: visible;" aria-modal="true" role="dialog">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasStartLabel">TBD</h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div>
                 TBD
                </div>
                <div class="mt-3">
                  <button class="btn" type="button" data-bs-dismiss="offcanvas">
                    Close offcanvas
                  </button>
                </div>
              </div>
            </div>
{%endblock%}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      function loadGraph() {
        $.ajax({
          url: "/api/v1/clusters/{{cluster.id}}/graph",
          type: "GET",
          success: function (data) {

G6.registerEdge(
  'circle-running',
  {
    afterDraw(cfg, group) {
      // get the first shape in the group, it is the edge's path here=
      const shape = group.get('children')[0];
      // the start position of the edge's path
      const startPoint = shape.getPoint(0);

      // add red circle shape
      const circle = group.addShape('circle', {
        attrs: {
          x: startPoint.x,
          y: startPoint.y,
          fill: '#1890ff',
          r: 3,
        },
        name: 'circle-shape',
      });

      // animation for the red circle
      circle.animate(
        (ratio) => {
          // the operations in each frame. Ratio ranges from 0 to 1 indicating the prograss of the animation. Returns the modified configurations
          // get the position on the edge according to the ratio
          const tmpPoint = shape.getPoint(ratio);
          // returns the modified configurations here, x and y here
          return {
            x: tmpPoint.x,
            y: tmpPoint.y,
          };
        },
        {
          repeat: true, // Whether executes the animation repeatly
          duration: 3000, // the duration for executing once
        },
      );
    },
  },
  'cubic', // extend the built-in edge 'cubic'
);



            const tooltip = new G6.Tooltip({
                offsetX: -100,
                offsetY: 50,
                getContent(e) {
                    const outDiv = document.createElement('div');
                    outDiv.style.width = '180px';
                    outDiv.innerHTML = `${e.item.getModel().html}`
                    return outDiv
                },
                itemTypes: ['node']
            });

            // The symbols for the marker inside the combo
            const collapseIcon = (x, y, r) => {
                return [
                    ['M', x - r, y],
                    ['a', r, r, 0, 1, 0, r * 2, 0],
                    ['a', r, r, 0, 1, 0, -r * 2, 0],
                    ['M', x - r + 4, y],
                    ['L', x - r + 2 * r - 4, y],
                ];
            };
            const expandIcon = (x, y, r) => {
                return [
                    ['M', x - r, y],
                    ['a', r, r, 0, 1, 0, r * 2, 0],
                    ['a', r, r, 0, 1, 0, -r * 2, 0],
                    ['M', x - r + 4, y],
                    ['L', x - r + 2 * r - 4, y],
                    ['M', x - r + r, y - r + 4],
                    ['L', x, y + r - 4],
                ];
            };

            G6.registerCombo(
                'cRect', {
                    drawShape: function drawShape(cfg, group) {
                        const self = this;
                        // Get the padding from the configuration
                        cfg.padding = cfg.padding || [50, 20, 20, 20];
                        // Get the shape's style, where the style.width and style.height correspond to the width and height in the figure of Illustration of Built-in Rect Combo
                        const style = self.getShapeStyle(cfg);
                        // Add a rect shape as the keyShape which is the same as the extended rect Combo
                        const rect = group.addShape('rect', {
                            attrs: {
                                ...style,
                                x: -style.width / 2 - (cfg.padding[3] - cfg.padding[1]) / 2,
                                y: -style.height / 2 - (cfg.padding[0] - cfg.padding[2]) / 2,
                                width: style.width,
                                height: style.height,
                            },

                            draggable: false,
                            name: 'combo-keyShape',
                        });
                        // Add the circle on the right
                        group.addShape('marker', {
                            attrs: {
                                ...style,
                                fill: '#fff',
                                opacity: 1,
                                // cfg.style.width and cfg.style.heigth correspond to the innerWidth and innerHeight in the figure of Illustration of Built-in Rect Combo
                                x: cfg.style.width / 2 + cfg.padding[1],
                                y: (cfg.padding[2] - cfg.padding[0]) / 2,
                                r: 10,
                                symbol: collapseIcon,
                            },
                            draggable: false,
                            name: 'combo-marker-shape',
                        });
                        return rect;
                    },
                    // Define the updating logic of the right circle
                    afterUpdate: function afterUpdate(cfg, combo) {
                        const group = combo.get('group');
                        // Find the circle shape in the graphics group of the Combo by name
                        const marker = group.find((ele) => ele.get('name') === 'combo-marker-shape');
                        // Update the position of the right circle
                        marker.attr({
                            // cfg.style.width and cfg.style.heigth correspond to the innerWidth and innerHeight in the figure of Illustration of Built-in Rect Combo
                            x: cfg.style.width / 2 + cfg.padding[1],
                            y: (cfg.padding[2] - cfg.padding[0]) / 2,
                            // The property 'collapsed' in the combo data represents the collapsing state of the Combo
                            // Update the symbol according to 'collapsed'
                            symbol: cfg.collapsed ? expandIcon : collapseIcon,
                        });
                    },
                },
                'rect',
            );

            const container = document.getElementById('graph-container');

            const width = container.scrollWidth;
            const height = container.offsetHeight;
            const graph = new G6.Graph({
                container: 'graph-container',
                width,
                height,
                fitView: true,
                fitViewPadding: 50,
                // Set groupByTypes to false to get rendering result with reasonable visual zIndex for combos
                plugins: [tooltip],
                groupByTypes: false,
                defaultCombo: {
                    // The type of the combos. You can also assign type in the data of combos
                    type: 'cRect',
                    style: {
                        radius: [6, 6, 6, 6],
                        fill: '#1f2936',
                        stroke: '#656d77',
                        cursor: 'grab'
                    }
                    // ... Other global configurations for combos
                },
                defaultEdge: {
                  type: 'circle-running',
                  style: {
                    endArrow: true,
                    lineWidth: 5,
                    stroke: '#bae7ff',
                  },
                  labelCfg: {
                    autoRotate: true,
                    style: {
                      stroke: "#fff",
                      lineWidth: 5
                    }
                  }
                },

                /*
                layout: {
                  type: "comboForce",
                  preventComboOverlap:true,
                  comboSpacing: (d) => {
                    if (d.kind === "namespace") {
                      return 100
                    }
                  }
                },

  layout: {
    type: 'grid',
    begin: [20, 20],
    width: width - 20,
    height: height - 20,
  },
                */

                modes: {
                    default: [{type: 'zoom-canvas',enableOptimize: true,optimizeZoom: 0.01},'drag-combo', 'drag-canvas'],
                },
            });
            graph.data(data);
            graph.render();
            graph.zoomTo("0.8")

            // update edges
            graph.on('combo:dragend', (evt) => {
                graph.refreshPositions()

            });

            graph.on('node:mouseenter', (evt) => {
                const {
                    item
                } = evt;
                graph.setItemState(item, 'active', true);
            });

            graph.on('node:mouseleave', (evt) => {
                const {
                    item
                } = evt;
                graph.setItemState(item, 'active', false);
            });

            graph.on('combo:click', (evt) => {
                console.log(evt.item.getModel().id)
                var myOffcanvas = document.getElementById("offcanvasEnd")
                var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                bsOffcanvas.toggle()
                $("#offcanvasEndLabel").html(evt.item.getModel().id)
                $("#end-body").html(evt.item.getModel().panel_html)
            })

            graph.on('node:click', (evt) => {
                //console.log(evt.item.getModel().id)
                //console.log(evt.item.getModel().kind)
                var myOffcanvas = document.getElementById("offcanvasEnd")
                var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                bsOffcanvas.toggle()
//haaaaaaaa
                $("#offcanvasEndLabel").html(evt.item.getModel().id)
                $("#end-body").html(evt.item.getModel().panel_html)

                /*
                $.ajax({
                  url: "/api/v1/containers/"+evt.item.getModel().db_id,
                  type: "GET",
                  success: function (data) {
                  },
                  error: function (request, status, error) {
                    notify_js("Hmm. Something went wrong.", type="danger",time=1000)
                    return false;
                  }
                });
                */

                const {
                    item
                } = evt;
                graph.setItemState(item, 'selected', true);
            });

            graph.on('canvas:click', (evt) => {
                console.log("deselecting")
                var myOffcanvas = document.getElementById("offcanvasEnd")
                var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
                bsOffcanvas.toggle()

                graph.getNodes().forEach((node) => {
                    graph.clearItemStates(node);
                });
            });

            // collapse/expand when click the marker
            graph.on('combo:click', (e) => {
                if (e.target.get('name') === 'combo-marker-shape') {
                    // graph.collapseExpandCombo(e.item.getModel().id);
                    graph.collapseExpandCombo(e.item);
                    if (graph.get('layout')) graph.layout();
                    else graph.refreshPositions();
                }
            });
            if (typeof window !== 'undefined')
                window.onresize = () => {
                    if (!graph || graph.get('destroyed')) return;
                    if (!container || !container.scrollWidth || !container.scrollHeight) return;
                    graph.changeSize(container.scrollWidth, container.scrollHeight);
                };

            return true;
          },
          error: function (request, status, error) {
            notify_js("Hmm. Something went wrong.", type="danger",time=1000)
            return false;
          }
        });
      };
      loadGraph()
    });
  </script>
{%endblock%}
