{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Rules
      </div>
      <h2 class="page-title">
        View Rules
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.add_rule")}}" class="btn bg-cyan-lt">
            Add Rule
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-12">
        <div class="alert alert-warning text-white bg-transparent" role="alert">
          <small>Incoming cluster events are checked against Rules to determine if there is a match. For example, you can have a rule that looks for missing env variables or specific tags</small>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Rules</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead class="bg-white-lt">
                  <tr>
                    <th class="text-white">Label</th>
                    <th class="text-white">Description</th>
                    <th class="text-white w-1">Alerts</th>
                    <th class="text-white w-1">Clusters</th>
                    <th class="text-white w-1">Severity</th>
                    <th class="text-white w-1">Enabled</th>
                    <th class="w-1 text-white">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rule in rules %}
                    {%set alerts = rule.alerts.count()%}
                  <tr>
                    <td class="subheader text-white">{{rule.label}}</td>
                    <td class="subheader text-white">{{rule.description}}</td>
                    <td class="subheader text-white">{%if alerts%}<span class="badge bg-red text-white badge-sm ml-2">{{alerts}}</span>{%else%}<span class="badge bg-white-lt text-dark badge-sm ml-2">0</span>{%endif%}</td>
                    <td class="subheader text-white">{%if rule.clusters.count()%}<span class="badge bg-secondary text-white badge-sm ml-2">{{rule.clusters.count()}}</span>{%else%}<span class="badge bg-white-lt text-dark badge-sm ml-2">0</span>{%endif%}</td>
                    <td class="subheader text-white">{%if rule.severity == "low"%}<span class="badge bg-green-lt badge-sm ml-2">Low</span>{%elif rule.severity == "moderate"%}<span class="badge bg-orange-lt badge-sm ml-2">Moderate</span>{%else%}<span class="badge bg-red-lt badge-sm ml-2">High</span>{%endif%}</td>
                    <td class="subheader text-white">{%if rule.enabled%}<span class="badge bg-green-lt badge-sm ml-2">Enabled</span>{%else%}<span class="badge bg-orange-lt badge-sm ml-2">Disabled</span>{%endif%}</td>
                    <td class="text-center"><a href="{{url_for("main.view_rule",id=rule.id)}}"><i class="ti ti-edit text-yellow"></i></a></td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
    $('#example').DataTable({"pageLength":25,"order": [[ 0, "desc" ]]});
  } );
</script>
{% endblock %}
