{% extends "layouts/condensed.html" %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Documentation
      </div>
      <h2 class="page-title">
        Documentation
      </h2>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div id="events" class="row row-cards mb-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion" id="accordionExample">
          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Click
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body text-secondary">
                <div class="card-body">
                </div>
                <div class="card-footer">
                </div>  
              </div>
            </div>
          </div>
      </div>
      <div class="accordion" id="accordionExample">
          <div class="accordion-item mb-2">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Click
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body text-secondary">
                <div class="card-body">
                </div>
                <div class="card-footer">
                </div>  
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
{%endblock%}
