{% extends "layouts/condensed.html" %}

{% block before_head %}
  {{ super() }}
  {% import "helpers/src_macros.html" as macro %}
  {{ macro.filehelper(datatables=True) }}
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Users
      </div>
      <h2 class="page-title">
        View Users
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.add_user")}}" class="btn bg-cyan-lt">
            Add User
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-vcenter table-bordered" id="example" style="width:100%">
                <thead class="bg-white-lt">
                  <tr>
                    <th class="text-white">ID</th>
                    <th class="text-white">Name</th>
                    <th class="text-white">Email</th>
                    <th class="text-white">Roles</th>
                    <th class="w-1 text-white">Manage</th>
                  </tr>
                </thead>
                <tbody>
                  {%for user in users%}
                  <tr>
                    <td class="subheader text-white">{{user.id}}</td>
                    <td class="subheader text-white">{{user.first_name}} {{user.last_name}}</td>
                    <td class="subheader text-white">{{user.email}}</td>
                    <td>{%for role in user.pretty_roles()%}{%if role == "admin"%}<span class="badge bg-yellow-lt mr-1">{{role}}</span>{%else%}<span class="badge bg-orange-lt mr-1">{{role}}</span>{%endif%}{%endfor%}</td>
                    <td class="text-center">
                      <a href="{{url_for("main.view_user",id=user.id)}}"><i class="ti ti-edit text-yellow"></i></a>
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
{%endblock%}

{%block extrajs%}
<script>
  $(document).ready(function() {
    $('#example').DataTable({"pageLength":25,"order": [[ 0, "desc" ]]});
  } );
</script>
{% endblock %}
