{% extends "layouts/condensed.html" %}

{% block head %}
{{ super() }}
{% import "helpers/src_macros.html" as macro %}
{{ macro.filehelper(old_select=True) }}
<script src="https://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" ></script>
<style>
ul.chosen-choices {
  background-color:transparent !important;
}
</style>
{% endblock %}

{%block contentHeader%}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        <a href="{{url_for("main.rules")}}">rules</a>
      </div>
      <h2 class="page-title">
        Rule Editor: {{rule.label}}
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <span class="d-none d-sm-inline">
          <a href="{{url_for("main.delete_rule",id=rule.id)}}" class="btn bg-orange-lt">
            Delete Rule
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="row row-cards">
    <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Edit Settings{%if rule.enabled%}<span class="badge bg-green-lt badge-sm ml-2">Enabled</span>{%else%}<span class="badge bg-red-lt badge-sm ml-2">Disabled</span>{%endif%}</h3>
          </div>
          <div class="card-body">
           <form method="post" action="{{url_for("main.update_rule_settings",id=rule.id)}}">
            <div class="form-group mb-2">
              <label class="form-label">Label</label>
              <div>
                <input name="label" value="{{rule.label}}" type="text" class="form-control" placeholder="Enter label">
              </div>
            </div>
            <div class="form-group mb-2 ">
                <div>
                  <label class="row">
                    <span class="col">Enabled</span>
                    <span class="col-auto">
                      <label class="form-check form-check-single form-switch">
                        <input name="enabled" class="form-check-input cursor-pointer" type="checkbox" {%if rule.enabled%}checked=""{%endif%}>
                      </label>
                    </span>
                  </label>
                </div>
            </div>
            <div class="form-group mb-2 ">
              <label class="form-label">Severity</label>
              <div>
                <select name="severity" class="form-select">
                  <option value="low" {%if rule.severity == "low"%}selected{%endif%}>Low</option>
                  <option value="moderate" {%if rule.severity == "moderate"%}selected{%endif%}>Moderate</option>
                  <option value="high" {%if rule.severity == "high"%}selected{%endif%}>High</option>
                </select>
              </div>
            </div>
            <div class="form-group mb-2 ">
              <label name="description" class="form-label">Description</label>
              <div>
                <textarea class="form-control" name="description" rows="2" placeholder="Enter description">{{rule.description}}</textarea>
              </div>
            </div>
            <div class="form-group mb-2 ">
              <label class="form-label">Remediation</label>
              <div>
                <textarea class="form-control" name="remediation" rows="2" placeholder="Enter remediation">{{rule.remediation}}</textarea>
              </div>
            </div>
            <div class="form-group mb-2 ">
              <label class="form-label">Add Rule to Clusters</label>
              <div>
                <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
                <select size="4" id="cluster-select" autocomplete="off" multiple="multiple" name="clusters[]" class="form-control subheader cursor-pointer" data-placeholder="Clusters">
                {%set rule_clusters = rule.clusters.all()%}
                {% for cluster in clusters %}
                  {%if cluster in rule_clusters %}
                  <option value="{{cluster.id}}" selected>{{cluster.label|capitalize}}</option>
                  {%else%}
                  <option value="{{cluster.id}}">{{cluster.label|capitalize}}</option>
                  {%endif%}
                {% endfor %}
                </select>
                <small class="form-hint mt-2">Select which clusters you want your rule to apply to</small>
              </div>
            </div>
            <div class="form-group mb-2 ">
              <label class="form-label">Add Tags to Matched Event</label>
              <div>
                <input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;" />
                <select size="4" id="add-tags" autocomplete="off" multiple="multiple" name="tags[]" class="form-control subheader cursor-pointer" data-placeholder="Tags">
                {%set rule_tags = rule.get_tags()%}
                {% for tag in tags %}
                  {%if tag in rule_tags %}
                  <option value="{{tag.name}}" selected>{{tag.name|capitalize}}</option>
                  {%else%}
                  <option value="{{tag.name}}">{{tag.name|capitalize}}</option>
                  {%endif%}
                {% endfor %}
                </select>
                <small class="form-hint mt-2">If the event matches your rule, we will add the following tags to the alert. This is used for custom/advanced filtering.</small>
              </div>
            </div>
            <button type="submit" class="btn bg-cyan-lt mt-2">Save</div></button>
           </form>
          </div>
    </div>
    <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Edit Rule</h3>
          </div>
          <div class="card-body">
            <div id="code-editor-wrapper" class="col-12">
              <div id="code-editor"></div>
            </div>
          </div>
          <div class="card-footer">
            <a href="#" id="saveCode" class="btn bg-cyan-lt">Save</div></a>
          </div>
    </div>
  </div>
{%endblock%}

{% block extrajs %}
  <script>
    $('#cluster-select').chosen({width: '100%', skip_no_results: true,max_selected_options: 20});
    $('#add-tags').chosen({width: '100%', create_option: true,skip_no_results: true,max_selected_options: 20});
  </script>

  <script>
    $(document).ready(function() {
    $("#saveCode").click(function(){

      var editor = ace.edit("code-editor");
      
  $.ajax({
    url: "/api/v1/rules/{{rule.id}}/code",
    type: "PUT",
    data: JSON.stringify({
      "code":editor.getValue(),
    }),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (response) {
      notify_js("Saved successfully",type="primary",time=1000)
      //$("#modalSaveButton").html('<button onclick=saveOperatorCode("'+operatorName+'") type="button" class="btn subheader text-white bg-primary">Save</button>')
      return true;
    },
    error: function (request, status, error) {
      notify_js("Hmm. Something went wrong. Your data may not have saved!", type="danger",time=1000)
      return false;
    }
  });
    });
function readOnlyLines(editor) {
  editor.commands.on("exec", function(e) {
    var rowCol = editor.selection.getCursor();
    var last_3 = editor.session.getLength() - 5
    if (rowCol.row < 4 || rowCol.row > last_3) {
      editor.gotoLine(4);
      editor.navigateLineEnd()
      if (e.args === "\n") {
        console.log("new line")
      } else {
        e.preventDefault();
        e.stopPropagation();
      }
    }
  });
}
  $.ajax({
    url: "/api/v1/rules/{{rule.id}}/code",
    type: "GET",
    success: function (response) {
      var editor = ace.edit("code-editor");
      editor.setOptions({
        maxLines: 30,
        minLines: 30,
        autoScrollEditorIntoView: true,
      });
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/python");
      editor.session.setTabSize(4);
      editor.session.setUseWrapMode(true);
      //editor.setReadOnly(true);  // false to make it editable
      editor.setValue(response["code"]);
      readOnlyLines(editor);

      editor.getSession().on('change', function(){
        console.log("changed")
        //$("#modalSaveButton").html('<button onclick=saveOperatorCode("'+operatorName+'") type="button" class="btn subheader bg-red text-white"><span style="width:1rem;height:1rem" class="spinner-grow text-white mr-2" role="status"></span>Save</button>')
      })
    },
    error: function (request, status, error) {
      console.log("error")
      return false;
    }
  });
    });
  </script>
{% endblock %}
